@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');


.logo_img {
    width: 161px;
    height: 32px;
}


header {
    background-image: url('assets/images/headphones_hero_1.jpg');
    background-size: cover;   /* makes image cover entire header */
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 1400px;
    height: 800px;
}

nav {
    display: flex;
    justify-content: space-around; /* horizontal */
    align-items: center;     /* vertical */
    height: 32px;
    padding: 30px 0;
}

ul {
    
  list-style-type: none;
  padding-left: 0;
  width: 225px;
  height: 15px;
  
}

ul li {
    display: inline-block;
    margin-right: 25px;       
}
ul li:last-child {
  margin-right: 0;
}

.title_h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.subtitle_h1 {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}
ul li a:hover {
    color: #FF6565;    
}


button {
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: #FF6565;
    width: 162px;
    height: 44px;
    border: none;
    border-radius: 22px;
    margin: 20px 0px;
    
}

.hero {
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    display: grid;
    
    place-items: center;
    
    width: 637px;
    height: 313px;
}

.paragraph_button_1 {
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
}

