body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
header {
  background-color: blue;
}
main article {
  text-transform: capitalize;
  flex: 2;
  overflow-y: auto;
}

main aside {
  flex: 1;
  overflow-y: auto;
}
